* {
    font-family: 'Montserrat', sans-serif;
}

.main {
    
    background-image: url(../img/background.png);
    background-size: cover;
        /* max-width: 1380px; */
    width: 100%;
    height: 100vh;
}

.container {
    margin: 0 auto;
    width: 1380px;
    padding: 37px 30px 0px 30px;
    display: flex;
    justify-content:space-between;
}

.flex-itm1 {
    font-size: 12px;
    font-weight: 600;
    margin-right: auto;
}

.flex-itm2 {
    margin-right: 200px; 
    font-size: 14px;
    font-weight: 600;

}

.flex-itm3 {
    margin-right: 450px; 
    font-size: 26px;
    font-weight: 900;
    height: 44px;
    width: 189px;
    background-color: #ffffff;
    text-align: center;
    line-height: 44px;
    

}

.img_menu {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
    opacity: 1;
    transition: 0.3s all;
}

a:hover {
    opacity: 0.5;
    cursor: pointer;
}

.main_text {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* body {cursor: url('http://yraaa.ru/_ld/4/411_cursor.cur'), auto} */

.main_text_table {
    height:658px;
    vertical-align:middle;
    width:1380px;
    text-align:center;
    border:none;
    font-size: 40px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 3px 5px 20px blueviolet;
}

.main_text_table_lower {
    height:280px;
    vertical-align:middle;
    width:1380px;
    text-align:center;
    border:none;
    font-size: 16px;
    font-weight: 500;
    background-color: #F2F2F2;
}

.about_us {
    height: 1018px;
    border: 1px black solid;
}

.about_us_1_pict {
    float: right;
    width: 710px;
    height: 579px;
    background: #c4c4c4;
    margin: 220px 0;
}

